@{
    ViewData["Title"] = "Login Page";
}

@model Models.InputModels.LoginUserInpuModel

<div class="login-register-wrapper" style="visibility: hidden;">
    <img class="logo" src="~/images/logo.png" alt="Voyago">

    <span asp-validation-for="Email" class="text-error"></span>
    
    <form action="Login" controller="Account" id="loginForm" method="POST" name="loginForm" class="login-register-form"></form>   
    
    <div class="register-prompt">
        <p>Don’t have an account?</p><a href="@Url.Action("Register","Account")" class="login-link">Register</a>
    </div>
</div>

    
<script id="formButtonsTmpl" type="text/html">
    <button class="k-button k-form-submit" type="submit">
        <span class="k-button-text">Login</span>
    </button>
</script>


<script>
    $(document).ready(function(){        
        $("#loginForm").kendoForm({
        "buttonsTemplate": jQuery('#formButtonsTmpl').html(),
        "validatable": {
            "validateOnBlur": true,
            "validationSummary": {}
        },
        "formData": {
            'Email': "@Model.Email",
            'Password': "@Model.Password"
        },
        "serverErrors": {},
        "items": [{
            "field": "Email",
            "label": {
                "text": "Email"
            },
           "validation": {
                "required": {
                    "message": "Please enter email"
                },
                "email": true
            },
            "shouldRenderHidden": true
        }, {
            "field": "Password",
            "label": {
                "text": "Password"
            },
            "hint": "Forgot Password?",
            "attributes": {
                "type": "password"
            },
            "validation": {
                "type": "text",
                "required": {
                    "message": "Please enter password"
                },
            },
            "shouldRenderHidden": true
        }]
     });     
    $(".login-register-wrapper").css("visibility", "visible");
 })
    
</script>
