@{
    ViewData["Title"] = "Login Page";
}

@model Models.InputModels.LoginUserInpuModel

<div class="login-custom" style="visibility: hidden;">    
    <div class="login-form">
        <img class="logo" src="~/images/logo.png" alt="Voyago">

        <span asp-validation-for="Email" class="text-danger"></span>
    
        <form action="Login" controller="Account" id="loginForm" method="POST" name="loginForm"></form>   
    
        <div class="register-prompt">
            <p>Don’t have an account?</p><a href="~/Account/Register" class="login-link">Register</a>
        </div>
    </div>
</div>
    
<script id="formButtonsTmpl" type="text/html">
    <button class="k-button k-form-submit" type="submit">
        <span class="k-button-text">Login</span>
    </button>
</script>



<script>
    $(document).ready(function(){        
        $("#loginForm").kendoForm({
        "buttonsTemplate": jQuery('#formButtonsTmpl').html(),
        "validatable": {
            "validateOnBlur": true,
            "validationSummary": {}
        },
        "formData": {
            'Email': "@Model.Email",
            'Password': "@Model.Password"
        },
        "serverErrors": {},
        "items": [{
            "field": "Email",
            "label": {
                "text": "Email"
            },
            "validation": {
                "type": "text"
            },
            "shouldRenderHidden": true
        }, {
            "field": "Password",
            "label": {
                "text": "Password"
            },
            "hint": "Forgot Password?",
            "attributes": {
                "type": "password"
            },
            "validation": {
                "type": "text"
            },
            "shouldRenderHidden": true
        }]
     });     
    $(".login-custom").css("visibility", "visible");
 })
    
</script>

<link rel="stylesheet" href="~/css/login_form.css">