
<div class="orders-container wrap-width">
    <div class="orders-title">Orders</div>
    <div id="orders-grid" class="profile-tabstrip"></div>
</div>  

<script>
$(document).ready(function(e) {   
    $("#orders-grid").kendoGrid({
        columns: [
            { field: "OrderNumber", template: '\\##=OrderNumber#' },
            { field: "OrderDate", format: "{0:MM/dd/yyyy HH:mm:ss tt}" },
            { field: "Total", format: '{0:c}' },
            { field: "Status", template: '#if(Status == 1){# In progress  #}else{# Completed #}#' },
            { template: '<a href=' + '@Url.Action("OrderDetails", "Account")' + '?orderNumber=#=OrderNumber# class="order-details-link">View Order</a>'}

        ],
        noRecords: true,
        pageable:true,
        sortable: true,
        scrollable: true,
        dataSource: {                    
            transport: {                   
                read: {
		           	url: '@Url.Action("GetAllOrders", "Account")',
                    dataType: "json"
		        },
            },
            pageSize: 10,
            schema: {
                model: {
                    fields: {
                        OrderNumber: { type: "number" },
                        OrderDate: { type: "date" }
                    }
                }
            },                 
        }
    });

    $('#orders-grid .k-grid-pager').addClass('k-pager-sm')   
    $('#orders-grid .k-grid-pager').removeClass('k-pager-md')
      
    $(window).resize(function() {
        $('#orders-grid .k-grid-pager').addClass('k-pager-sm')   
        $('#orders-grid .k-grid-pager').removeClass('k-pager-md')
    });
})
</script>
