@{
    var orderNumber = ViewData["OrderNumber"];
}

<div class="order-details-container">
    <h4 class="order-details-title">Order # <span id="order-id-header"></span></h4>
<div class="order-details-header">
        <div class="order-details-information">
            <p>Order details</p>
            <div><span class="order-information-title">Number: #</span><span id="order-id"></span></div>
            <div><span class="order-information-title">Date: </span><span id="order-date"></span></div>
            <div><span class="order-information-title">Amount: </span><span id="order-amount"></span></div>
        </div>
        <div class="ordered-by-container">
            <p>Ordered by:</p>
            <div id="user-fullname"></div>
            <div id="user-street"></div>
            <div id="user-state"></div>
            <div id="user-phone"></div>
        </div>
    </div>

    <div id="orders-grid-id"></div>

    <div class="view-invoice-container">
        <button id="inv">View Invoice</button>
    </div>
</div>


<script>

    $(document).ready(function(e) {
        $('#inv').kendoButton({
            themeColor: "primary",
            icon: "file",
            click: function(){
                var orderNumber = '@orderNumber';
                location.href= '@Url.Action("Invoice", "Account", new{ orderNumber = orderNumber})'
            }
        })

        $("#orders-grid-id").kendoGrid({
            columns: [
              { selectable: true, width: "44px" },
              { width: "144px", template: '<img class="image" src="data:image/png;base64, #:ProductPhoto#" alt="#=ProductName#.jpg">'},
              { field: "ProductName", title: "Product Name"},
              {
                  field: "Quantity",
                  width: "172px",
                  footerTemplate: "Quantity: " + '#=sum#',
                  attributes: { style: "text-align: right; class='cell-text'" },
                  headerAttributes: {
                    style: "text-align: right; justify-content: right"
                  },
                  footerAttributes: {
                    style: "text-align: right; justify-content: right"
                  }
              },
               {
                  field: "UnitPrice",
                  title: "Price",
                  format: '{0:c}',
                  width: "172px",
                  attributes: { style: "text-align: right; class='cell-text'" },
                  headerAttributes: {
                    style: "text-align: right; justify-content: right"
                  }
              },
              {
                  field: "LineTotal",
                  title: "Final Price",
                  footerTemplate: "Total: $" + '#=sum#',
                  format: '{0:c}',
                  width: "172px",
                  attributes: { style: "text-align: right; class='cell-text'" },
                  footerTemplate: "Total : #= kendo.toString(sum, 'c') #",
                  headerAttributes: {
                    style: "text-align: right; justify-content: right"
                  },
                  footerAttributes: {
                    style: "text-align: right; justify-content: right"
                  }
              }
            ],
            scrollable: 'auto',
            pageable: false,
             dataSource: {
               transport: {
                   read: '@Url.Action("GetOrderByID", "Account")?id=@orderNumber',
                   type: 'json'
               },
               aggregate: [
                  { field: "Quantity", aggregate: "sum" },
                  { field: "LineTotal", aggregate: "sum" }
                ]
            },
            dataBound: function(e){
                var record = e.sender.dataSource.data()[0];
                $('#order-id').text(record.OrderNumber)
                $('#order-id-header').text(record.OrderNumber)
                $('#order-date').text(kendo.toString(record.OrderDate, "mm/dd/yyyy HH:mm:ss tt"))
                $('#order-amount').text("$" + record.Total)
                $('#user-fullname').text(record.UserFirstName + ' ' + record.UserLasttName)
                $('#user-state').text(record.City)
                $('#user-street').text(record.Street)
                $('#user-phone').text(record.Phone)
            }
        });
    })
</script>

<link rel="stylesheet" href="~/css/order_details.css">