@{
	ViewData["Title"] = "Register Page";
}

<div>
    <div class="register-form">
	    <img class="logo" src="~/images/logo.png" alt="Voyago">

	    <form action="Register" controller="Account" id="registerForm" method="POST" name="registerForm"></form>

	    <div class="login-prompt">
	    	<p>Already have an account?</p><a href="/Account/Login" class="login-link">Login</a>
	    </div>
    </div>
</div>


<script id="formButtonsTmpl" type="text/html">
	<button class="k-button k-form-submit" type="submit">       
		<span class="k-button-text">Register</span>
	</button>
</script>

<script>
	$("#registerForm").kendoForm({
        "buttonsTemplate": $('#formButtonsTmpl').html(),
        "validatable": {
            "validateOnBlur": true,
            "validationSummary": true,
			"errorTemplate": "<span class='k-form-error'>#:message#</span>"
        },
        "formData": null,
        "serverErrors": {},
        "items": [{
            "field": "FirstAndLastName",
            "label": {
                "text": "First and last name"
            },
            "validation": {
                "type": "text",
				"required": {
					"message": "Please enter First and Last name"
				},
				"pattern": {
					"value":"^[a-zA-Z]+\\s+[a-zA-Z]+$", 
					"message":"Please enter First and Last name separated by a space"
				},
            }
        }, {
            "field": "Email",
            "label": {
                "text": "Email"
            },
            "validation": {
                "required": true, 
				"email": true
            }
        }, {
            "field": "Password",
            "label": {
                "text": "Password"
            },
            "hint": "Your password must be at least 4 symbols long.",
            "attributes": {
                "type": "password"
            },
            "validation": {
                "type": "text",
				"required": {
					"message": "Please enter First and Last name"
				},
				"pattern": {
					"value":"^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z\\d]{8,}$", 
					"message":"Your password must be at least 8 symbols and should include uppercase and lowercase letters and numbers"
				},
            }
        }]
    });


</script>

<link rel="stylesheet" href="/css/register_form.css">