@{
	ViewData["Title"] = "Accessories";
}

<div class="sub-category-container">
	<nav id="breadcrumb" name="breadcrumb"></nav>
	<h4 class="category-heading-large">Accessories</h4>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Bottles and Cages">
				<div class="category-heading">Bottles & Cages</div>
				<img src="~/images/bottles_cages.png" class="category-image category-large-image" />
			</a>
		</div>
		<div class="inner-1">
			<div class="inner-2">
				<div>
					<a href="/Products/Category?subCategory=Lights">
						<div class="category-heading">Lights</div>
						<img src="~/images/lights.png" class="category-image category-small-image" />
					</a>
				</div>
				<div>
					<a href="/Products/Category?subCategory=Locks">
						<div class="category-heading">Locks</div>
						<img src="~/images/locks.png" class="category-image category-small-image" />
					</a>
				</div>
			</div>
			<div>
				<a href="/Products/Category?subCategory=Tires and Tubes">
					<div class="category-heading heading-double">Tires and Tubes</div>
					<img src="~/images/tires_tubes2.png" class="category-image category-bottom-image" />
				</a>
			</div>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Pumps">
				<div class="category-heading">Pumps</div>
				<img src="~/images/pumps.png" class="category-large-image" class="category-image" />
			</a>
		</div>
	</div>
</div>

<script>
	 $("#breadcrumb").kendoBreadcrumb({
        "items": [{
            "href": "Index",
            "icon": "home",
            "showIcon": true,
            "showText": false,
            "type": "rootItem"
        }, {
            "href": "Accessories",
            "text": "Accessories",
            "showText": true,
            "type": "item"
        }],
        "navigational": true
    });
</script>

<link rel="stylesheet" href="/css/accessories.css">