@{
	ViewData["Title"] = "Bikes";
}

<div class="sub-category-container">
	<nav id="breadcrumb" name="breadcrumb"></nav>
	<h4 class="category-heading-large">Bikes</h4>
	<div class="sub-category-images">
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Mountain Bikes">
				<div class="category-heading">Mountain Bikes</div>
				<img src="~/images/mountain_bikes.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Road Bikes">
				<div class="category-heading">Road Bikes</div>
				<img src="~/images/road_bikes.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Touring Bikes">
				<div class="category-heading">Touring Bikes</div>
				<img src="~/images/touring_bikes.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>
</div>

<script>
	 $("#breadcrumb").kendoBreadcrumb({
        "items": [{
            "href": "Index",
            "icon": "home",
            "showIcon": true,
            "showText": false,
            "type": "rootItem"
        }, {
            "href": "bikes",
            "text": "Bikes",
            "showText": true,
            "type": "item"
        }],
        "navigational": true
    });
</script>

<link rel="stylesheet" href="~/css/bikes.css">
