@{
	ViewData["Title"] = "Clothing";
}

<div class="sub-category-container">
	<nav id="breadcrumb" name="breadcrumb"></nav>
	<h4 class="category-heading-large">Clothing</h4>
	<div class="sub-category-images">
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Jerseys">
				<div class="category-heading">Jerseys</div>
				<img src="~/images/jerseys.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="@Url.Action("Category", "Products")?subCategory=Shorts">
				<div class="category-heading">Shorts</div>
				<img src="~/images/shorts.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>
</div>

<script>
	 $("#breadcrumb").kendoBreadcrumb({
        "items": [{
            "href": "Index",
            "icon": "home",
            "showIcon": true,
            "showText": false,
            "type": "rootItem"
        }, {
            "href": "Clothing",
            "text": "Clothing",
            "showText": true,
            "type": "item"
        }],
        "navigational": true
    });
</script>