@{
	ViewData["Title"] = "Clothing";
}

<div class="sub-category-container">
	<nav id="breadcrumb" name="breadcrumb"></nav>
	<h4 class="category-heading-large">Clothing</h4>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Jerseys">
				<h5 class="category-heading">Jerseys</h5>
				<img src="~/images/jerseys.png" class="category-image category-large-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Shorts">
				<h5 class="category-heading">Shorts</h5>
				<img src="~/images/shorts.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>
</div>

<script>
	 $("#breadcrumb").kendoBreadcrumb({
        "items": [{
            "href": "Index",
            "icon": "home",
            "showIcon": true,
            "showText": false,
            "type": "rootItem"
        }, {
            "href": "Clothing",
            "text": "Clothing",
            "showText": true,
            "type": "item"
        }],
        "navigational": true
    });
</script>

<style>
	.category-large-image{
		width: 100%;
	}

	.category-small-image{
		width: 100%;
		margin-bottom: 20%;
	}

	.category-bottom-image{
		width: auto;
		margin-bottom: 20%;
	}

	a {
		text-decoration: none;
		color: black;
	}

	.inner-1 {
		display: flex;
		flex-direction: column;
	}

	.inner-2 {
		display: flex;
		flex-direction: row;
		gap: 9%
	}

	.sub-category-container {
		width: 80%;
		margin-left: 15%;
		margin-bottom: 4%;
	}	

	.k-breadcrumb-link {
		font-weight: 600;
		font-size: 18px;
		line-height: 25.2px;
		color: #605E5C;
	}

	.k-breadcrumb-last-item{		
		color: #323130;
	}

	.sub-category-images {
		display: flex;
		flex-direction: row;
		gap: 3%
	}

	.category-heading-large {
		color: black;
		font-weight: 600;
		font-size: 42px;
		line-height: 58.8px;
		letter-spacing: -0.9px;
		margin-bottom: 2%;
		margin-top: 2%;
	}

	.category-heading {
		color: black;
		margin-bottom: 5vh;
	}

	.category-heading.heading-tires{
		margin-bottom: 3vh !important;
	}

	@@media (max-width: 1300px) {

		.category-heading-large{
			margin-left: 8%;
			align-self: center;
		}
		.sub-category-images {
			margin: 3em 5em 3em 5em;
		}

		.sub-category-images, .inner-1, .inner-2{
			display: flex;
			flex-direction: column;
		}

		.categories-title {
			align-self: center;
		}

		img{
			width: 100%;
		}
	}
</style>