@{
	ViewData["Title"] = "Components";
}

<div class="sub-category-container">
	<nav id="breadcrumb" name="breadcrumb"></nav>
	<h4 class="category-heading-large">Components</h4>
	<div class="sub-category-images">
		<div>
			<a href="/Products/Category?subCategory=Chains">
				<h5 class="category-heading">Chains</h5>
				<img src="~/images/chains.png" class="category-image category-large-image" />
			</a>
		</div>
		<div class="inner-1">
			<div class="inner-2">
				<div>
					<a href="/Products/Category?subCategory=Derailleurs">
						<h5 class="category-heading">Derailleurs</h5>
						<img src="~/images/derailleurs.png" class="category-image category-small-image" />
					</a>
				</div>
				<div>
					<a href="/Products/Category?subCategory=Forks">
						<h5 class="category-heading">Forks</h5>
						<img src="~/images/forks.png" class="category-image category-small-image" />
					</a>
				</div>
			</div>
			<div>
				<a href="/Products/Category?subCategory=Mountain Frames">
					<h5 class="category-heading heading-double">Mountain Frames</h5>
					<img src="~/images/mountain_frames.png" class="category-image category-small-image" />
				</a>
			</div>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Handlebars">
				<h5 class="category-heading">Handlebars</h5>
				<img src="~/images/handlebars.png" class="category-image category-large-image" />
			</a>
		</div>
	</div>

	<div class="sub-category-images">
		<div class="edge-image-container">
			<a href="/Products/Category?subCategory=Pedals">
				<h5 class="category-heading">Pedals</h5>
				<img src="~/images/pedals.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Saddles">
				<h5 class="category-heading">Saddles</h5>
				<img src="~/images/saddles.png" class="category-image category-small-image" />
			</a>
		</div>
		<div>
			<a href="/Products/Category?subCategory=Touring Frames">
				<h5 class="category-heading">Touring Frames</h5>
				<img src="~/images/touring_frames.png" class="category-image category-small-image" />
			</a>
		</div>
		<div class="edge-image-container">
			<a href="/Products/Category?subCategory=Wheels">
				<h5 class="category-heading">Wheels</h5>
				<img src="~/images/wheels.png" class="category-image category-small-image" />
			</a>
		</div>
	</div>
</div>

<script>
	 $("#breadcrumb").kendoBreadcrumb({
        "items": [{
            "href": "Index",
            "icon": "home",
            "showIcon": true,
            "showText": false,
            "type": "rootItem"
        }, {
            "href": "Components",
            "text": "Components",
            "showText": true,
            "type": "item"
        }],
        "navigational": true
    });
</script>

<link rel="stylesheet" href="/css/components.css">