@{
	ViewData["Title"] = "Home Page";
}

<style>
	.home-content {
		display: flex;
		flex-direction: column;
	}

	a {
		text-decoration: none;
	}

	#topPicks .k-scrollview-wrap li.k-scrollview-page {
		width: inherit!important;
	}

/*	#topPicks{
		margin: 0 auto;

	}*/

	#scrollView .k-scrollview-wrap img {
		display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width:inherit;
        height:inherit;
		object-fit: cover;
	}

	.top-picks-container {
		height: 480px;
		/*height: 25vw;*/
		left: 0px;
		background-color: #C7E0F4;		
	}

	.home-heading {
		font-weight: 600;
		font-size: 2.187vw;
		line-height: 3.0625vw;
		color: #000000;
/*		margin-top: 1.56em;
		margin-left: 15em;
		margin-bottom: 1.56em;*/
		margin-top: 1.25vw;
		margin-left: 19.5vw;
		margin-bottom: 1vw;
	}

	.top-picks {
		display: flex;
		flex-direction: row;
		gap: 1.5vw;
		justify-content: center;
		flex-wrap: wrap;
	}

		.top-pick-card {
			background: #FFFFFF;

		    width: 16.84rem;
			height: 20rem;

/*			width: 15.44vw;
			height: 16.67vw*/;
		}

		.top-pick-heading {
			font-weight: 600;
			font-size: 1.458vw;
			color: #323130;
			border-radius: 0px;
			padding: 0.75em 1em 0.75em 1em;
		/*	padding: 0.625vw 0.83vw 0.625vw 0.83vw;*/
			margin: 0;
		}

	.top-pick-image {
		width: 16.84rem;
		height: 18.8rem;
/*		width: 15.44vw;
		height: 13.33vw;*/
		background-repeat:no-repeat; 
		background-size: cover;
		object-fit: cover;
	}

	.categories-container {
		margin: 5em 15em 5em 15em;
	}

	.categories-header {
		display: flex;
		flex-direction:row;
		justify-content: space-between;
	}

	.categories-title {
		font-weight: 600;
		font-size: 2.187vw;
		line-height: 3.06vw;
		color: #000000;
	}

	#download-catalog {
		height: 2.375em;
		align-self: center;
	}

	.categories-inner {
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	  gap: 3%;
	}

	/* Create four equal columns that sits next to each other */
	.column {
	  flex: 30%;
	  max-width: 30%;
	}

		.category-heading {
			font-weight: 600;
			font-size: 1.458vw;
			line-height: 2.04vw;
			color: #323130;
		}

		.column img {
		  margin-top: 8px;
		  vertical-align: middle;
		}


	/* Responsive layout - makes a two column-layout instead of four columns */
	@@media (max-width: 1300px) {

	.categories-container {
		margin: 3em 5em 3em 5em;
	}

		.categories-header {
			flex-direction:column;
		}

		.categories-title {
			align-self: center;
		}

	  .column {
		flex: 100%;
		max-width: 100%;
	  }
	}	
</style>


<div class="home-content">
	<div class="scrollview-container">
	<div id="scrollView" style="width:100vw; max-width: 100%; margin: auto; height: 31.3vw;">
		<div data-role="page"><img src="/images/home_main_1.png" /></div>
		<div data-role="page"><img src="/images/home_main_2.png" /></div>
		<div data-role="page"><img src="/images/home_main_3.png" /></div>
		<div data-role="page"><img src="/images/home_main_4.png" /></div>
		<div data-role="page"><img src="/images/home_main_5.png" /></div>
	</div>
	</div>

	<div id="top-picks" class="top-picks-container">		
		<h4 class="home-heading">Top picks</h4>
		<div class="top-picks-scrollview-container">
			<div id="topPicks" style="width: 1440px; max-width: 100%; height: 318.72px; margin: auto; background: none;"></div>		
		</div>
	</div>

	<div class="categories-container">
		<div class="categories-header">
			<h4 class="categories-title">Categories</h4>
			<button id="download-catalog">Download Product Catalog</button>
		</div>
		
		<div class="categories-inner">
			<div class="column">
				<a href="/Home/Accessories">
					<h5 class="category-heading">Accessories</h5>
					<img src="~/images/accessories.png" style="width:100%" class="category-image" />
				</a>
			</div>
			<div class="column">
				<a href="/Home/Bikes">
					<h5 class="category-heading">Bikes</h5>
					<img src="~/images/bikes.png" style="width:100%" class="category-image" />
				</a>
				<a href="/Home/Components">
					<h5 class="category-heading" style="margin-top: 0.9em;">Components</h5>
					<img src="~/images/components.png" style="width:100%" class="category-image" />
				</a>
			</div>
			<div class="column">
				<a href="/Home/Clothing">
					<h5 class="category-heading">Clothing</h5>
					<img src="~/images/clothes.png" style="width:100%" class="category-image" />
				</a>
			</div>
		</div>
	</div>

	<div class="recently-viewed">
		<h4 class="home-heading">Recently Viewed</h4>	
		<div id="recentlyViewedListView"></div>
	</div>
	<hr class="splitter" style="">
	<div class="download-app">
		<span class="download-text">Download Voyago application</span>
		<img src="~/images/gplay.svg" width="180" height="52" />
		<img src="~/images/appstore.svg" width="180" height="52" style="margin-left:24px;" />
	</div>
</div>

<script id="topPicks-template" type="text/html">
	<div class="top-picks">
		# for (var i = 0; i < data.length; i++) { #
		<div class="top-pick-card">
			<a href="/Products/Category?subCategory=#=data[i].Name#">
			<h4 class="top-pick-heading" style="color: black">#= data[i].Name #</h4>
			<img src="~/images/#=data[i].ImageName#" class="top-pick-image"/>
			</a>
		</div>
		# } #
	</div>
</script>

<script type="text/html" id="product-template">	
	@await Html.PartialAsync("/Views/Products/_TileProductCard.cshtml")
</script>

<script>
	$(document).ready(function(){
		$("#scrollView").kendoScrollView({
			contentHeight: "100%"
		});

		$('#download-catalog').kendoButton({
			icon: 'download',
			click: function(){
				location.href = '/Home/ProductCatalog'
			}
		})

		 $("#topPicks").kendoScrollView({
			   "enablePager": false,
			   "template": $('#topPicks-template').html(),
			   "contentHeight": "100%",
			   "dataSource": {			                
			       "transport": {
			           "read": {
			               "url": "/Home/GetTopSellingSubCategories?count=12",
			               "type": "GET"
			           }
			       },
			       "pageSize": 4,
			       //"page": 0,
			       //"groupPaging": false,
			       //"total": 0,			                
			       //"sort": [{
			       //    "field": "TotalSales",
			       //    "dir": "desc"
			       //}],
				   schema: {
					  data: function(response) {
					    return response.Result; 
					  }
					}			      
			   }
		});

		var dataSourceRecent = new kendo.data.DataSource({
		  transport: {	   
		    read: {
		      url: "/Home/GetRecentlyViewedProducts",
		      dataType: "json" 
		    }
		  }
		});

		dataSourceRecent.fetch(function() {
			let data = this.data();	
			if(data.length > 0){

				$("#recentlyViewedListView").kendoListView({
					"tagName": "div",				
					"dataSource": dataSourceRecent,		
					bordered: false,
					"template": kendo.template($('#product-template').html()),
					dataBound: onRecentlyViewedDataBound
				}); 
			}			   
		})

		let topPicksSV = $("#topPicks").data("kendoScrollView");

        $(window).on('resize', function () {
			$("#scrollView").data("kendoScrollView").resize(true);
			$("#topPicks").data("kendoScrollView").resize(true);
			
  if (window.matchMedia("screen and (max-width: 960px)").matches) {
        topPicksSV.setDataSource(
          new kendo.data.DataSource({
            "transport": {
              "read": {
                "url": "/Home/GetTopSellingSubCategories?count=12",
                "type": "GET"
              }
            },
            pageSize: 2,
            schema: {
              data: function(response) {
                return response.Result; 
              }
            }	
          })
        );
      } else if(window.matchMedia("screen and (max-width: 1370px)").matches) {
        topPicksSV.setDataSource(
          new kendo.data.DataSource({
            "transport": {
              "read": {
                "url": "/Home/GetTopSellingSubCategories?count=12",
                "type": "GET"
              }
            },
            pageSize: 3,
            schema: {
              data: function(response) {
                return response.Result; 
              }
            }	
          })
        );
      } else {
        topPicksSV.setDataSource(
          new kendo.data.DataSource({
            "transport": {
              "read": {
                "url": "/Home/GetTopSellingSubCategories?count=12",
                "type": "GET"
              }
            },
            pageSize: 4,
            schema: {
              data: function(response) {
                return response.Result; 
              }
            }	
          })
        );
      }
        });
	})
</script>
