.about-container {
    display: flex;
    min-height: 530px;
    flex-direction: column;
    align-items: start;
}

.about-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 58.8px;
    color: var( --eshop-black );
}

.about-description {
    margin: 24px 0;
}

.about-container .section-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.8px;
    margin: 24px 0;
}

.about-container .k-button {
    margin: 80px 0;
}

.section-components ul {
    color: var(--eshop-primary);
}

.about-container .k-button{
    color: var(--eshop-black);
}

.about-container a{
    color: var(--eshop-primary);
}

.about-container a:hover {
    color: var(--eshop-dark-grey);
}

