.login-register-wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.login-register-form {	
	margin-top: 30px;
	width: 420px;
	min-width: 150px;
}

.k-form-field {
	margin-top: 17px;
}

.logo {
	width: 238px;
	height: 58px;
}

.login-register-form .k-input-inner {
	line-height: 26px;
}

.login-register-form .k-label.k-form-label {
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
	color: var( --eshop-dark-grey );
}

.login-register-form .k-form-buttons {
	margin-top: 64px;
}

.login-register-form .k-button.k-form-submit {
	width: 100%;
	height: 38px;
	background: var( --eshop-primary );
	border: none;
	border-radius: 2px;
}

.login-register-wrapper .k-button-text {
	height: 24px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: var( --eshop-white );
}

.login-prompt {
	width: 10%;
	min-width: 250px;
	display: flex;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin-top: 8vh;
}

.register-prompt {
	font-weight: 600;
	display: flex;
	margin-top: 64px;
}

.login-link {
	text-decoration: none;
	margin-left: 8px;
}

.text-error {
	font-size: 20px;
	font-weight: 500;
	margin-top: 20px;
}

@media (max-width: 600px) {
	#loginForm,
	#registerForm {
		width: 80%;
		min-width: 150px;
	}
}