﻿.k-listview {
    border: none;
}

.k-card {
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    width: 330px;
    height: 428px;
}

.k-card-link {
    display: flex;
    height: 264px;
    overflow: hidden;
    align-items: center;
}

.k-card-image {
    width: 100%;
}

.k-card-title {
    color: var( --eshop-black );
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 600;
}

span.discount-pct {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: var( --eshop-white );
    background: var( --eshop-primary );
    padding: 5px;
    width:44px;
    height:24px;
}

.price-container {
    color: var( --eshop-primary );
}

.card-old-price {
    font-weight: 500;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: -0.9px;
    color: indianred;
    text-decoration: line-through;
}

.card-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var( --eshop-primary );
}

.card-buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.card-cart-button {
    width: 264px;
    height: 34px;
}

.card-favorites-button {
    width: 34px;
    height: 34px;
}
