<div class="list-view">
    @await Html.PartialAsync("_ListViewHeader.cshtml")

    <div class='no-product-msg' style="display: none">This category is out of stock at the moment.</div>
</div>

<link rel="stylesheet" href="~/css/all_products_list_view.css">