<div class="controls">

	@{
		if (Context.Request.Path.ToString().Contains("Summary"))
		{
			@await Html.PartialAsync("_SummaryControls.cshtml")
		}
	}

	<h6>Filters</h6>

	@{
		if (Context.Request.Path.ToString().Contains("Category"))
		{
			<div class="control">
				<a href="/Products/Category?subCategory=@ViewBag.SubCategory">
					<div class="clear-all">
						<h6 style="color: black;">Clear All</h6>
						<img class="close-button" src="~/images/close_button.svg" alt="Clear All">
					</div>
				</a>
			</div>
		}
		else if (Context.Request.Path.ToString().Contains("Summary"))
		{
			<div class="control">
				<a href="/Products/Summary">
					<div class="clear-all">
						<h6 style="color: black;">Clear All</h6>
						<img class="close-button" src="~/images/close_button.svg" alt="Clear All">
					</div>
				</a>
			</div>
		}
	}

	<div class="control">
		<h6>Show</h6>
		<ul data-role="checkboxgroup" id="discountPicker" name="discountPicker" type="text"></ul>	
	</div>

	@{
		if (Context.Request.Path.ToString().Contains("Category"))
		{
			@await Html.PartialAsync("_CategoryControls.cshtml")
		}
	}

	<div class="control">
		<h6 class="control-label">Rating</h6>
		<ul data-role="checkboxgroup" id="ratingPicker" name="ratingPicker" type="text"></ul>		
	</div>

	<div class="control">
		<h6 class="control-label">Price</h6>
		<div class="price-slider" id="priceSlider" name="priceSlider">
			<input class="price-slider" value="0" />
			<input class="price-slider" value="4000" />
		</div>
	</div>

	<div class="control">
		<h6 class="control-label">Weight</h6>		

		<div class="weight-slider" id="weightSlider" name="weightSlider">
			<input class="weight-slider" value="0" />
			<input class="weight-slider" value="1500" />
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		addFilterCheckBoxes();
	});
</script>

<link rel="stylesheet" href="/css/main_controls.css">