@{
	ViewData["Title"] = "Summary";
}

<div class="summary-container">
	@await Html.PartialAsync("_MainControls.cshtml")

	<div class="list-view">
		<div>
			<p class="search-result" id="searchResultCount"></p>
			<hr class="splitter">
		</div>

		@await Html.PartialAsync("_ListViewHeader.cshtml")

		<div id="allProductsListView" name="allProductsListView"></div>	
	</div>
</div>

<script type="text/html" id="product-template">
	# var searchParam = $("\\#searchBar").data("kendoAutoComplete").value(); #

	<a href="/Products/Category?subCategory=#=data.value#&searchParam=#=searchParam#">		
		<h4 class="k-group-title">#= (data.value != null) ? data.value : "Other" # (#=data.items.length#)</h4>
	</a>
	<div class="sub-category-cards">
		# for (var i = 0; i < data.items.length && i < 3; ++i) { #
			# var Id = data.items[i].Id; #
			# var Name = data.items[i].Name; #
			# var FinalPrice = data.items[i].FinalPrice; #
			# var Price = data.items[i].Price; #
			# var AverageRating = data.items[i].AverageRating; #
			# var DiscountPct = data.items[i].DiscountPct; #
			# var PhotoId = data.items[i].PhotoId; #			
			@await Html.PartialAsync("_TileProductCard.cshtml")
		# } #
	</div>
	# if(data.items.length > 3) { #		
		<a href="/Products/Category?subCategory=#=data.value#&searchParam=#=searchParam#">
			<p class="show-all">Show all results from <strong>#= (data.value != null) ? data.value : "Other" #</strong> subcategory</p>
		</a>
	# } #
</script>

<script>
	$(document).ready(function () {
		var searchParam = '@ViewBag.SearchParam';
		if (searchParam != null) {
			$("#searchBar").data("kendoAutoComplete").value(searchParam);
		}

		var dataSourceProducts = new kendo.data.DataSource({
		  transport: {	   
		    read: {
		      url: "/Products/ReadAllProducts",
		      dataType: "json" 
		    }
		  },
		  group: { field: "SubCategory" },
		  "filter": [{
               "logic": "and",
               "filters": [{
                   "field": "Name",
                   "operator": "contains",
                   "value": "@ViewBag.SearchParam"
               },{
                   "field": "SubCategory",
                   "operator": "isnotnull",				   
				   
               },{
                   "field": "Price",
                   "operator": "gte",
                   "value": "0"
               }]
           }],
		});	
				
		$("#allProductsListView").kendoListView({
			"tagName": "div",				
			"dataSource": dataSourceProducts,			
			"template": kendo.template($('#product-template').html()),
			dataBound: onSummaryDataBound
		}); 
	});
</script>

<link rel="stylesheet" href="~/css/summary.css">
