<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Web</title>
	
	<link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/6.2.0/fluent/fluent-main.css" />
	<environment names="Development">
		<bundle name="wwwroot/bundles/styles.min.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="~/bundles/styles.min.css" asp-append-version="true" />
	</environment>
	@RenderSection("loginStyles", false)
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.kendostatic.com/2022.3.1109/js/kendo.all.min.js"></script>
	<script src="~/js/product_details.js"></script>
	<script src="~/js/shopping_cart.js"></script>
	<script src="~/js/datasource.js"></script>
	<script src="~/js/favorites.js"></script>
	<script src="~/js/site.js"></script>
</head>
<body class="k-content">

	@if (User.Identity != null && User.Identity.IsAuthenticated)
	{
		@await Html.PartialAsync("~/Views/Shared/_Header.cshtml")
	}

	<main>
		@RenderBody()
	</main>

	@if (User.Identity != null && User.Identity.IsAuthenticated)
	{
		@await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
	}

	<environment names="Development">
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
	</environment>
	@RenderSection("scripts", required: false)
	<script>
		$(document).ready(function () {
			$(".search-bar-container").css("visibility", "visible");
			$(".logo").css("visibility", "visible");
			$("#headerCategoriesDDL").css("visibility", "visible");
			$('.header-menu button').css("visibility", "visible");
			$('#contacts').css("visibility", "visible");
			$('.header').css("visibility", "visible");
		});
	</script>
</body>
</html>

<style>
	body, html {
		min-height: 100%;
	}

	.k-breadcrumb-link {
		font-weight: 600;
		font-size: 18px;
		line-height: 25.2px;
		color: #605E5C;
	}

	.k-breadcrumb-last-item{
		color: var( --eshop-dark-grey );
	}

	.k-tick {
		display: none;
	}

	.k-tick-large {
		display: inherit;
	}

</style>