<div class="footer-container">
	<div class="footer-categories">
		<h6 class="footer-heading">Categories</h6>
		<a class="footer-content" href="@Url.Action("Components","Home")">
			<span>Components</span>
		</a>
		<a class="footer-content" href="@Url.Action("Bikes","Home")">
			<span>Bikes</span>
		</a>
		<a class="footer-content" href="@Url.Action("Clothing","Home")">
			<span>Clothing</span>
		</a>
		<a class="footer-content" href="@Url.Action("Accessories","Home")">
			<span>Accessories</span>
		</a>
	</div>
	<div class="footer-contacts">
		<h6 class="footer-heading">Contacts</h6>
		<p class="footer-content">
			United States <br /> 932 Clousson Road Str <br /> Sergeant Bluff, Iowa <br /> 712-923-1916 <br /> 51054
		</p class>
		<span class="footer-content contact-email">contacts@voyago.com</span>
	</div>
	<div class="footer-payment-methods">
		<h6 class="footer-heading">Payment Methods</h6>
		<img src="~/images/payments.png" />
	</div>	
	<div class="footer-socials">
		<h6 class="footer-heading">Socials</h6>
		<div class="socials-inner">
			<img src="~/images/fb.svg" />
			<img src="~/images/yt.svg" />
		</div>
		<div class="socials-inner">
			<img class="progress-logo" src="~/images/progress_software_logo.png" />
			<span> | All Rights reserved</span>
		</div>
	</div>	
</div>

<link rel="stylesheet" href="~/css/footer.css">