<style>
	.footer-container{
		height: 30vh;
		background-color: #0078D4;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		color: white;
		margin-bottom: 0px;
	}

	.footer-content span{
		color: white
	}

	.footer-categories, 
	.footer-contacts, 
	.footer-payment-methods,
	.footer-socials{
		display: flex;
		flex-direction: column;
	}

	.socials-inner {
		display: flex;
		flex-direction: row;
		gap: 1vw;
		margin-bottom: -3vh;
	}	

	.footer-heading {
		margin-top:3vh;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 3vh;
		font-weight: 600;
	}
	.footer-content {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 3vh;
	}

	.footer-contacts{
		width: 10vw;
	}	

	.footer-payment-methods img{
		width: 10vw;
		height: 2.5vh;
		background: white;
		min-height: 40px;
	}	

	.progress-logo{
		min-height: 24px;
		height: 2vh;
		width: auto;
	}

	.socials-inner:nth-of-type(2){
		margin-top: 17vh;
	}

	.contact-email{
		margin-top: 6vh;
	}

	@@media (max-width: 1250px) {
		.footer-container{
			height: 40vh;
		}
	}	

	@@media (max-width: 900px) {
		.footer-payment-methods{
			display: none;
			font-size: 10px;
			line-height: 10px;
		}

		.contact-email{
			margin-top: -3vh;
		}
	}	
</style>
<div class="footer-container">
	<div class="footer-categories">
		<h6 class="footer-heading">Categories</h6>
		<a class="footer-content" href="/Home/Components">
			<span>Components</span>
		</a>
		<a class="footer-content" href="/Home/Bikes">
			<span>Bikes</span>
		</a>
		<a class="footer-content" href="/Home/Clothing">
			<span>Clothing</span>
		</a>
		<a class="footer-content" href="/Home/Accessories">
			<span>Accessories</span>
		</a>
	</div>
	<div class="footer-contacts">
		<h6 class="footer-heading">Contacts</h6>
		<p class="footer-content">
			United States 932 Clousson Road Str Sergeant Bluff, Iowa 712-923-1916 51054
		</p class>
		<span class="footer-content contact-email">contacts@voyago.com</span>
	</div>
	<div class="footer-payment-methods">
		<h6 class="footer-heading">Payment Methods</h6>
		<img src="~/images/payments.png" />
	</div>	
	<div class="footer-socials">
		<h6 class="footer-heading">Socials</h6>
		<div class="socials-inner">
			<img src="~/images/fb.svg" />
			<img src="~/images/yt.svg" />
		</div>
		<div class="socials-inner">
			<img class="progress-logo" src="~/images/progress_software_logo.png" />
			<span> | All Rights reserved</span>
		</div>
	</div>	
</div>
@*
<style>
	.footer-container {
		margin-top: auto;
		width: 100%;
		height: 321px;
		background: #0078D4;
		gap: 40px;
		justify-content: center;
		display: flex;
		flex-direction: row;
	}
	.footer-categories {
		display: flex;
		flex-direction: column;
		width: 330px;
	}
	.footer-contacts {
		width: 330px;
		display: flex;
		flex-direction: column;
	}
	.footer-payment-methods {
		width: 330px;
		display: flex;
		flex-direction: column;
	}
	.footer-report-viewer { 
		width: 330px;
		display: flex;
		flex-direction: column;
	}
	.footer-socials {
		width: 330px;
		display: flex;
		flex-direction: column;
	}
	.socials-inner {
		display: flex;
		flex-direction: row;
		gap: 31px;
	}
	.footer-heading {
		margin-top:40px;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
		margin-bottom: 24px;
	}
	.footer-content {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #FFFFFF;
		margin-bottom: 24px;
	}
</style>*@