<div class="header" style="visibility: hidden;">
	<a href="/Home/Index">
		<img class="logo" src="~/images/logo.png" alt="Voyago">
	</a>
	<div class="search-bar-container" >
		<input id="searchBar" name="searchBar" type="text" value="" />		
	</div>
	<div class="header-menu">
		<div>
			<input id="headerCategoriesDDL" name="headerCategoriesDDL" type="text" />	
		</div>	
		<button id="favourites-btn">Favourites</button>	
		<button id="contacts">Contacts</button>					
		<button class="profile" id="profile-btn"></button>
		<button class="shopping-cart" id="shopping-cart"></button>		
	</div>
</div>

<script id="searchBar-template" type="text/html">
	<span class="k-state-default">
		<span style="color: \\#849A8E;">
			#:data.ProductName#
		</span>
		# if(data.SubCategory != null) { #
			in #:data.SubCategory#
		# } #
	</span>
</script>

<script>
	$(".logo").css("visibility", "hidden");
    $(".search-bar-container").css("visibility", "hidden");
	$('.header-menu button').css("visibility", "hidden");
	$('#contacts').css("visibility", "hidden");	
	$(document).ready(function () {
		getFavoritesCount();
		getShoppingCartItemsCount();

		$("#favourites-btn").kendoButton({
			click: function(){
				location.href='/Account/Favorites'
			},
            badge: {
                position: "edge",
                rounded: "full",
				align: "top end",
                themeColor: "primary",
				text: 0
            }
        });

		$("#contacts").kendoButton({
			click: function(){
				location.href="/Contacts/Index"
			}
        });

		$("#shopping-cart").kendoButton({
			click: function(){
				location.href='/Account/ShoppingCart'
			},
			icon: 'cart',
			size: "large",
            badge: {
                position: "edge",
                rounded: "full",
				align: "top end",
                themeColor: "primary",				
				text: 0
            }
        });

		$("#profile-btn").kendoDropDownButton({
			icon: "user",
			fillMode: "flat",
			items: [
			    { class: "profile", text: "Profile", click: function (e) { window.location.href = "/account/Profile" } },
			    { class: "orders", text: "Orders", click: function (e) { window.location.href = "/account/OrdersPage" } },
			    { class: "logout", text: "Logout", click: function (e) { window.location.href= "/account/Logout" }}
			]
       });

		$("#searchBar").kendoAutoComplete({			
			"clearButton": false,
			"dataTextField": "ProductName",
			"minLength": 4,
			"placeholder": "Search",
			"select": onSearchSelect,
			"change": searchProducts,
			"template": $('#searchBar-template').html(),
			"filter": "contains",
			"dataSource": {
			    "transport": {
			        "read": {
			            "url": "/Home/GetSearchSuggestions",
			            "data": onAdditionalData
			        }
			    },
			    "serverFiltering": true,			    
			}
		});

		 $("#headerCategoriesDDL").kendoDropDownList({
			"change": goToCategoryPage,
			"optionLabel": "Categories",
			"size": "large",
			"dataSource":[
				"Accessories",
				"Bikes",
				"Clothing",
				"Components"
			]
		});

		 $(".k-autocomplete").prepend("<span class='k-icon k-i-search'></span>")
	})
</script>

<link rel="stylesheet" href="/css/header.css">