.all-prod-list-view .k-listview-content {
    display: flex;
    flex-direction: row;   
    flex-wrap: wrap;
    border: none;
    justify-content: space-between;
    margin-bottom: 48px;
}

.k-pager-wrap {
    border: none;
    background: none;
    color: none;
}

.k-pager-sizes > .k-picker {
    border: 1px solid #898989;
    border-radius: 2px;
    background: none;
    color: none;
}

#allProductsListView {
    margin-top: 0px;
    margin-left: 40px;
    border: none;
    border-bottom: 1px solid #EDEBE9;
}

.k-listview-item {
    margin-top: 40px;
}

.no-product-msg {
    text-align: center;
    padding: 2%;
}

.products-listView-container {
    width: 100%;
}

    .products-listView-container .k-listview {
        margin: 24px auto auto auto;
    }

        

    .products-listView-container .k-pager-wrap {
        margin-top: 48px;
        border: none;
        background: none;
    }

        .products-listView-container .k-pager-wrap .k-pager-sizes > .k-picker {
            border: 1px solid #605E5C;
            border-radius: 2px;
        }

@media (max-width: 1500px) {
    .products-listView-container {
        width: 60vw;
        margin: 0 auto;
    }

        .products-listView-container .k-listview .k-listview-content {
            justify-content: center;
        }
}

@media (max-width: 1024px) {
    .products-listView-container {
        width: 50vw;
    }

    .category-name-header {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .products-listView-container {
        width: 100%;
    }

        .products-listView-container .k-listview .k-card {
            max-width: 100%;
            height: auto;
        }

            .products-listView-container .k-listview .k-card .k-card-image-container {
                height: auto;
            }
}



