.category-page-container #breadcrumb {
    margin-bottom: 19px;
}


.category-content-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.category-page-container .result-count{
    display: none;
}

.rating-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #1D252C;
    margin-left: 5px;
}

.cart-button {
    width: 250px;
    height: 40px;
    background: var( --voyago-primary );
    border-radius: 2px;
    margin-bottom: 16px;
    color: var( --voyago-white ) !important;
}

.card-cart-button:hover {
    background: white;
    color: var( --voyago-primary ) !important;
    border-color: var( --voyago-primary ) !important;
}

.toggle-view .k-button{
    border: none;
}

.toggle-view .k-button.k-selected {
    border: none !important;
}
