.category-page-container #breadcrumb {
    margin-left: 30px;
}

.category-page-container {
    margin-top: 35px;
    margin: auto;
    width: 1500px;
}

.category-content-container {
    display: flex;
    flex-direction: row;
}

.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-heading {
    margin-top: 56px;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.9px;
    color: #272727;
}

.continue-shopping {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var( --voyago-primary );
    margin-top: 31px;
    margin-bottom: 53px;
}

#favoritesListView {
    border: none;
    background: none;
}

.all-prod-list-view .k-listview-content {
    justify-content: center;
    width: 1118px;
    margin-bottom: 48px;
}

.favorite-product-container {
    margin: 24px;
    padding: 24px;
    width: 1040px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(123, 123, 123, 0.15);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.favorite-product-info-container {
    margin-left: 41px;
    margin-right: 182px;
    display: flex;
    flex-direction: column;
}

.favorite-product-controls {
    display: flex;
    flex-direction: column;
    justify-self: right;
}

.favorite-product-name {
    font-weight: 500;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: -0.9px;
    color: #1D252C;
}

.avg-rating {
    display: flex;
    flex-direction: row;
}

.rating-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.9px;
    color: #1D252C;
    margin-left: 5px;
}

.favorite-product-description {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D252C;
}

.price {
    text-align: right;
    font-weight: 500;
    font-size: 26px;
    line-height: 46px;
    letter-spacing: -0.9px;
    color: var( --voyago-primary );
    margin-bottom: 30px;
}

.cart-button {
    width: 250px;
    height: 40px;
    background: var( --voyago-primary );
    border-radius: 2px;
    margin-bottom: 16px;
    color: var( --voyago-white ) !important;
}

.card-cart-button:hover {
    background: white;
    color: var( --voyago-primary ) !important;
    border-color: var( --voyago-primary ) !important;
}

.favorites-button {
    width: 250px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #272727;
    border-radius: 2px;
}


.k-button-text {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
}

.toggle-view .k-button{
    border: none;
}

.toggle-view .k-button.k-selected {
    border: none !important;
}
