.contacts-container {
    min-height: 570px;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 10vh;
}

.map {
    width: 600px;
    height: 300px;
}

.contacts-container .header-contacts {
    text-align: center;
}

.header-contacts h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    margin: 7vh auto;
}

.contacts-button {
    width: 33%;
}

.location {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 12vh;
}

@media (max-width: 900px) {
    .contacts-container {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 5%;
    }

    .location {
        flex-direction: column;
    }

    .map {
        width: 80vw;
    }
}
