.details-container {
    width: 70%;
    margin: 0 auto;
}

.detail-image {
    width: 22vw;
    height: 22vw;
    min-width: 350px;
}

#breadcrumb {
    margin-top: 2%;
    margin-bottom: 4%;
}

.model-details {
    display: flex;
    flex-direction: row;
}

.model-info {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.info-bottom {
    display: flex;
    flex-direction: row;
}

.bottom-left {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    flex-direction: row;
    margin-right: 8%;
    margin-bottom: 1%;
    justify-content: flex-start;
}

.bottom-right {
    display: flex;
    flex-direction: column;
}

.info-text {
    display: flex;
    flex-direction: column;
}

.similar-products {
    font-weight: 600;
    font-size: 28px;
    line-height: 39.2px;
    color: var( --voyago-dark-grey );
    margin-left: 2vw;
}

.similar-products-list-view .k-listview-content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: none;
}

#similarProductsListView {
    margin-bottom: 5%;
}

.details-heading {
    font-weight: 600;
    font-size: 42px;
    line-height: 58.8px;
}

.splitter {
    border: 1px solid #E5E5E5;
}

.info-text {
    width: 30vw;
}

.info-title {
    width: 30%;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #605E5C;
}

.info-value {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var( --voyago-dark-grey );
}

.k-picker {
    width: 30%;
}

.k-input-value-text {
    font-size: 14px;
}


.list-price {
    font-weight: 600;
    text-align: right;
    font-size: 42px;
    line-height: 58.8px;
    color: indianred;
    text-decoration: line-through;
}

.discount {
    font-weight: 500;
    text-align: right;
    font-size: 28px;
    color: #605E5C;
}

.price {
    font-weight: 600;
    text-align: right;
    font-size: 36px;
    line-height: 58px;
    color: var( --voyago-primary );
    margin-bottom: 22px;
}

.product-buttons {
    display: flex;
    flex-direction: column;
}

.cart-button {
    width: 16vw;
    height: 38px;
    background: var( --voyago-primary );
    color: var( --voyago-white ) !important;
    margin-bottom: 10px;
}

.card-cart-button:hover {
    background: white;
    color: var( --voyago-primary );
    border-color: var( --voyago-primary );
}

.favorites-button {
    width: 16vw;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #272727;
}

.k-button-text {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    text-align: center !important;
}

.description-text {
    width: 70%;
}

.splitter2 {
    margin-bottom: 4%;
    margin-top: 4%;
}

.splitter1 {
    color: #EDEBE9;
}
