.favorites-container {
    width: 1070px;
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}

.favorite-product-container {
    padding: 1%;
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    border-radius: 2px;
    gap: 2%;
    display: flex;
    flex-direction: row;
    width: 1070px;
}

    .favorite-product-container.k-listview-item {
        width: 1070px;
        height: 312px;
        padding: 12px;
        gap: 25px;
        border-radius: 2px;
        display: flex;
        flex-direction: row;

    }

.favorite-product-container.k-listview-item:first-of-type{
    margin-top: 24px;
}

.favorites-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 22px;
}

.favorites-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.favorites-container .continue-shopping {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: var( --voyago-primary );
}

#favouritesReportBtn {
    height: 2.375em;
    align-self: center;
}

#favoritesListView {
    border: none;
    background: none;
    margin-top: 32px;
    margin-bottom: 112px;
}


    .favorite-product-image img {
        width: 100%;
        min-width: 200px;
        max-width: 300px;
    }



.favorite-product-info-container {
    display: flex;
    flex-direction: column;    
}

.favorite-product-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    margin-left: auto;
    margin-right: 52px;
}

.favorite-product-name {
    font-weight: 600;
    font-size: 28px;
    line-height: 39.2px;
}

.favorite-product-info-container .avg-rating .rating-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
}

.favorite-product-info-container .avg-rating {
    
    align-items: baseline;
    justify-content: start;
    gap: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 6.5px;
}

    .favorite-product-info-container .avg-rating .k-icon {
        width: 20px;
        height: 20px;
        padding: 8px 2px;
    }

.favorite-product-description {
    width: 249px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.favorite-product-controls .k-button {
    width: 100%;
    margin-bottom: 0px;
}

.favorite-product-image {
    width: 272px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.favorite-product-container .favorite-product-image img {
    width: 272px;
    height: auto;
}

.favorite-product-controls .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

    .favorite-product-controls .buttons-container .k-button {
        width: 260px;
        height: 34px;
    }

.list-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
}

#export-pdf{
    width: 200px;
    height: 38px;
}

@media (max-width: 1300px) {
    .favorites-container, .favorite-product-container.k-listview-item {
        width: 90vw;
    }
}

    @media (max-width: 1000px) {
        .favorite-product-container.k-listview-item,
        .favorites-header,
        .favorites-title {
            width: 100%;
            flex-direction: column;
            height: auto;
        }

        .favorite-product-image {
            overflow: visible;
            align-self: center;
        }

        .favorite-product-controls {
            margin: auto;
            width: 80%;
        }

        .favorite-product-info-container,
        .favorite-product-controls,
        .favorite-product-description {
            align-items: center;
            width: 100%;
        }



            .buttons-container, .favorite-product-controls .buttons-container .k-button {
                width: 100%;
            }

        #export-pdf {
            margin: auto;
        }

    }

    @media (max-width: 768px) {
        .category-content-container {
            flex-direction: column;
            align-items: center;
        }

        .category-name-header {
            font-size: 14px;
        }
    }
