.home-content {
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 24px 0;
}

#topPicks .k-scrollview-wrap li.k-scrollview-page {
    width: inherit !important;
}

#scrollView {
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: 31.3vw;
}

#scrollView .k-scrollview-wrap img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.top-picks-container {
    height: 480px;
    left: 0px;
    background-color: #C7E0F4;
}

#topPicks {
    width: 1440px;
    max-width: 100%;
    height: 318.72px;
    margin: auto;
    background: none;
}

#download-catalog{
    height: 38px;
}

.top-picks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.categories-title{
    margin-top: 80px;
    margin-bottom: 36px;
}

.home-heading {
    font-weight: 600;
    font-size: 42px;
    color: var( --voyago-black );
}

.top-pick-heading {
    font-weight: 600;
    font-size: 1.75em;
    color: var( --voyago-dark-grey );
    border-radius: 0px;
    padding: 0.75em 1em 0.75em 1em;
    margin: 0;
}

.top-pick-card {
    background: #FFFFFF;
    width: 296.5px;
    height: 256px;
}

.top-pick-image {
    width: 100%;
    height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.categories-title {
    font-weight: 600;
    font-size: 42px;
    line-height: 59px;
    color: var( --voyago-black );
}

.category-image{
    width: 100%;
}

#productCatalogBtn {
    height: 2.375em;
    align-self: center;
}

.categories-inner {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3%;
}

.column {
    flex: 30%;
    max-width: 40%;
}

.components-header-second{
    margin-top:52px;
    margin-bottom: 0px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.category-img-small{
    height: 180px;
    width: 454px;
}

.recently-viewed-title {
    font-weight: 600;
    font-size: 2.187vw;
    line-height: 3.06vw;
    color: var( --voyago-black );
    margin-bottom: 1.5rem;
}

#recentlyViewedListView .k-listview-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: none;
    flex-wrap: wrap;
}

#recentlyViewedListView .k-card-image-container {
    height: 268px;
}

.splitter {
    border: 1px solid #E5E5E5;
    height: 0px;
    margin: 83px auto 0 auto;
}

.download-app {
    display: flex;
    gap: 24px;
    padding: 38px 0;
    border-top: 1px solid #EDEBE9;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
}

.download-text {
    font-weight: 400;
    font-size: 1.75em;
    color: #605E5C;
}

.downlaod-icons {
    display: flex;
    flex-direction: row;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.category-heading-components {
    font-weight: 600;
    font-size: 28px;
    padding: 0 16px;
}



@media (max-width: 1500px) {
    .wrap-width {
        max-width: var( --viewport-width );
        width: calc(100% - 80px);
    }

    #recentlyViewedListView .k-listview-content {
        justify-content: center;
    }

    .components-header-second{
        margin-top: 20px;
    }
}

@media (max-width: 1000px) {
    .top-pick-card {       
        height: 290px;
    }
}

@media (max-width: 800px) {
    .wrap-width {
        width: calc(100% - 60px);
    }

    .categories-inner {
        justify-content: center;
    }

    .column {
        flex: 100%;
        max-width: 50%;
    }

    .category-heading-components {
        padding: 12px 16px;
    }

    .recently-viewed {
        margin-top: 40px;
    }

    .recently-viewed-title {
        text-align: center;
    }

    .download-app {
        flex-direction: column;
        gap: 20px;
    }

    .download-icon-2 {
        margin-left: 0;
    }
}

@media (max-width: 750px) {
    .wrap-width {
        width: calc(80% - 30px);
    }

    .categories-header {
        flex-direction: column;
    }

    .categories-title {
        align-self: center;
    }

    .categories-inner {
        margin-top: 40px;
    }

    .column {
        max-width: 80%;
    }

    #recentlyViewedListView .k-card {
        max-width: 100%;
        height: auto;
    }

    #recentlyViewedListView .k-card-image-container {
        height: auto;
    }
}

@media (max-width: 530px) {
    .wrap-width {
        width: calc(90% - 30px);
    }

    .download-text {
        text-align: center;
    }
}

@media (max-width: 460px) {
    #topPicks .k-scrollview-elements {
        display: none;
    }

    .column {
        max-width: 100%;
    }

    .download-app {
        margin: 54px auto 0 auto;
    }

    .downlaod-icons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}