.home-content {
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 24px 0;
}

#topPicks .k-scrollview-wrap li.k-scrollview-page {
    width: inherit !important;
}

#scrollView .k-scrollview-wrap img {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.top-picks-container {
    height: 480px;
    left: 0px;
    background-color: #C7E0F4;
}

#download-catalog{
    height: 38px;
}

.top-picks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.home-heading {
    font-weight: 600;
    font-size: 42px;
    color: #000000;
}

.top-pick-heading {
    font-weight: 600;
    font-size: 1.75em;
    color: #323130;
    border-radius: 0px;
    padding: 0.75em 1em 0.75em 1em;
    margin: 0;
}

.top-pick-card {
    background: #FFFFFF;
    width: 296.5px;
    height: 256px;
}

.top-pick-image {
    width: 100%;
    height: 256px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.categories-title {
    font-weight: 600;
    font-size: 2.187vw;
    line-height: 3.06vw;
    color: #000000;
}

#productCatalogBtn {
    height: 2.375em;
    align-self: center;
}

.categories-inner {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3%;
}

.column {
    flex: 30%;
    max-width: 40%;
}

.category-heading {
    font-weight: 600;
    font-size: 1.458vw;
    line-height: 2.04vw;
    color: #323130;
    padding-left: 4%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.recently-viewed-title {
    font-weight: 600;
    font-size: 2.187vw;
    line-height: 3.06vw;
    color: #000000;
    margin-bottom: 1.5rem;
}

#recentlyViewedListView .k-listview-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: none;
    flex-wrap: wrap;
}

.splitter {
    border: 1px solid #E5E5E5;
    height: 0px;
}

.download-app {
    display: flex;
    gap: 24px;
    padding: 38px 0;
    border-top: 1px solid #EDEBE9;
    justify-content: center;
    align-items: center;
}

.download-text {
    font-weight: 400;
    font-size: 1.75em;
    color: #605E5C;
}

.downlaod-icons {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1300px) {

    .categories-container {
        margin: 3em 5em 3em 5em;
    }

    .categories-header {
        flex-direction: column;
    }

    .categories-title {
        align-self: center;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1230px) {
    .recently-viewed {
        margin: 0em 5em 3em 5em;
    }

    .recently-viewed-title {
        text-align: center;
    }

    #recentlyViewedListView .k-listview-content {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

        #recentlyViewedListView .k-listview-content .k-card {
            flex: 100%;
            max-width: 100%;
        }
}

@media (max-width: 900px) {
    .recently-viewed {
        margin: 0em 0em 3em 0em;
    }

    .download-app {
        flex-direction: column;
        margin: 0em 3em 3em 3em;
    }


    .download-text {
        margin: 1em;
    }
}

@media (max-width: 460px) {
    .download-app {
        margin: 0em 1em 1em 1em;
    }
}
