.clear-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls {
    margin: 20px 20px 60px 40px;    
    padding: 30px;
    background: #F2F2F2;
    border-radius: 2px;
}

.control {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    background: white;
    border-radius: 2px;
}

.main-controls-filter {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var( --voyago-dark-grey );
}

.control-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: #201F1E;
}

.clear-all-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25.2px;
    color: #201F1E;
}

.k-slider-tick, .k-tick{
    display: flex !important;
}
