.clear-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controls {    
    padding: 24px;
    background: #F2F2F2;
    border-radius: 2px;
}

.control {    
    background: white;
    border-radius: 2px;
    padding: 28px 16px;
    width: 250px;
    border-radius: 2px;
    margin: 24px 0px;
}

.main-controls-filter {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var( --voyago-dark-grey );
}

.control-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: #201F1E;
}

.clear-all-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: #201F1E;
}

.k-slider-tick, .k-tick{
    display: flex !important;
}
