.orders-container {
    display: flex;
    flex-direction: column;
    margin: 5em 10em 5em 10em;
    width: 60%;
    min-height: 62vh;
    margin: 10vh auto;
}

.orders-title {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    text-align: center;
    margin-bottom: 4vh;
}

#grid_orders .k-grid-header .k-header {
    font-weight: 600;
}

.order-details-link {
    color: var( --voyago-primary ) !important;
    text-decoration: underline !important;
    border-color: transparent;
    background: 0 0;
    font-weight: 600 !important;
}

.view-order-link {
    color: var( --voyago-primary ) !important;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline !important;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.k-pager-numbers-wrap .k-dropdown{
    text-align:center;
}

@media (max-width: 800px) {
    .orders-container {
        margin: 2em 5em 5em 5em;
    }
}
