.order-details-container {
    display: flex;
    flex-direction: column;
    margin: 5em 10em 5em 10em;
    min-height: 62vh;
    margin: 10vh auto;
    width: 50%;
}

.image {
    width: 120px !important;
    height: 135px !important;
    align-self: stretch;
    flex-grow: 1;
    margin: 12px;
}

.order-details-title {
    font-weight: 600;
    font-size: calc(42px + 0.390625vw);
    line-height: calc(59px + 0.390625vw);
    text-align: center;
}

.order-details-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 0;
}

.ordered-by-container p, .order-details-information p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: var( --voyago-black );
}

.order-details-information .order-information-title {
    font-weight: 600;
}

.view-invoice-container {
    align-self: end;
    margin: 2% 0;
}

.cell-text{
    font-weight:400;
    font-size:14px;
    line-height:20px;
}

@media (max-width: 800px) {
    .order-details-container {
        margin: 2em 5em 5em 5em;
    }

    .order-details-header {
        flex-direction: column;
        gap: 20px;
    }
}
