html {
    position: relative;
    min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
}

:root {
    --voyago-primary: #0078D4;
    --viewport-width: 1440px;
    --viewport-padding-inline: 30px;
    --voyago-black: #000000;
    --voyago-dark-grey: #323130;
    --voyago-white: #FFFFFF;
}

body {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var( --voyago-dark-grey );
    color: var(--voyago-dark-grey);
    margin: 0 0 372px 0;
}

p {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
    color: var( --voyago-dark-grey );
}


.wrap-width {
    width: var( --viewport-width );
    margin-inline: var( --viewport-padding-inline );
    margin: auto;
}

#breadcrumb {
    margin-top: 45px;
    margin-bottom: 49px;
}

.k-breadcrumb-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    color: #605E5C;
}

.k-breadcrumb-last-item {
    color: var( --voyago-dark-grey );
}

.k-tick {
    display: none;
}

.k-tick-large {
    display: inherit;
}

.k-popup .k-item, .k-list-item, .k-list-optionlabel {
    outline: none!important;
}

.category-heading-large {
    color: var( --voyago-dark-grey );
    font-weight: 600;
    font-size: 42px;
    line-height: 58.8px;
    letter-spacing: -0.9px;
    margin-bottom: 24px;
}

.category-heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 39px;
    color: var( --voyago-dark-grey );
    padding-top: 12px;
    padding-left: 10px;
    margin-bottom: 12px;
}

    .category-heading.heading-tires {
        margin-bottom: 3vh !important;
    }

.avg-rating {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 600;
    margin-bottom: 18.5px;
}

.k-slider {
    width: 100%;
}

.k-button-text {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center !important;
}

.price-container{
    margin-bottom: 12px;
}


.price {
    font-size: 32px;   
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: var( --voyago-primary );
    align-self: end;
}


.k-listview-content {
    overflow: inherit;
    min-width:1040px;
}

.orders-container, .order-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 946px !important;
    padding-inline: var( --viewport-padding-inline );
    margin: auto;
}


/* Header */
.header {
    width: var( --viewport-width );
    margin: auto;
    padding-inline: var( --viewport-padding-inline );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    width: 238px;
    margin: 28px auto;
}

.search-bar-container {
    flex-grow: 1;
    padding-inline: 38px;
}

.search-bar-container .k-autocomplete {
    display: flex;
    align-items: center;
    max-width: 634px;
    min-width: 120px;
    height: 40px;
}

.k-i-search {
    margin-left: 18px;
    color: var( --voyago-primary );
}

.ddl-container {
    margin-right: 10px;
}

#favourites-btn {
    padding-right: 7px;
    padding-left: 7px;
}

#headerCategoriesDDL, #searchBar, h6 {
    font-size: 14px;
    font-weight: normal;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

    .header-menu .k-dropdownlist {
        align-items: center;
        border-color: white !important;
        min-width: 120px;
    }

#favoritesBadge {
    margin-top: -39px;
    margin-left: 62px;
}

#shoppingCartBadge {
    margin-top: -34px;
    margin-left: 25px;
}

#profile-btn .k-menu-expand-arrow {
    display: none;
}

.header-menu #menu .k-icon {
    color: inherit;
}

.header-menu .k-button {
    border: none;
}

.shopping-cart .k-icon {
    font-size: 20px;
}

.k-button-text {
    font-weight: normal;
}

#profile-btn_buttonmenu {
    width: 100px !important;
}

.shopping-cart.k-button {
    padding: 6px !important;
}

.socials{
    width: 12px;
    height: 21px;
}


/* Footer */
.footer {
    color: var( --voyago-white );
    background-color: var( --voyago-primary );
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 80px;
}
    .footer .wrap-width {
        padding-block: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }

.footer-content {
    color: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 28px;
}

.footer-column {
    width: 330px;
    display: flex;
    flex-direction: column;
}

    .footer-column .footer-content {
        display: flex;
        flex-direction: row;
    }

    .socials {
        gap: 25px;
    }

    .footer-logo {
        margin-top: auto;
        align-items: center;
    }

    .progress-logo {
        padding-right: 6px;
    }

    .rights {
        line-height: 16px;
        border-left: 1px solid;
        padding-left: 6px;
    }

.footer-heading {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.footer-payment-methods img {
    width: 10vw;
    height: 2.5vh;
    background: white;
    min-height: 40px;
}

.progress-logo {
    min-height: 24px;
    height: 2vh;
    width: auto;
}

.socials-inner:nth-of-type(2) {
    margin-top: 17vh;
}

.contact-email {
    margin-top: 6vh;
}

.footer-categories .footer-content:hover {
    font-weight: bold;
    color: var( --voyago-white );    
}
/* Forms */
.login-register-form .k-button.k-form-submit {
    height: 38px;
    background: var( --voyago-primary );
    border: none;
    border-radius: 2px;
}



@media (max-width: 1500px) {
    .header {
        width: calc(100% - 80px);
        flex-direction: column;
    }

    .logo {
        width: auto;
        height: 35px;
    }

    .header-menu {
        gap: 2px;
    }

    .search-bar-container {
        margin: auto;
    }

        .search-bar-container .k-autocomplete {
            width: 60vw;
        }

    .header-menu-container {
        display: flex;
        justify-content: center;
        margin: 28px auto;
    }
}

@media (max-width: 1500px) {
    .k-listview-content{
        min-width: 350px;
    }
}

    @media (max-width: 900px) {
        .footer-payment-methods {
            display: none;
            font-size: 10px;
            line-height: 10px;
        }

        .contact-email {
            margin-top: -3vh;
        }        

        .download-app img {
            width: 180px;
            height: 52px;
        }
    }

    @media (max-width: 820px) {
        .logo {
            width: auto;
            height: 20px;
        }
    }

    @media (max-width: 560px) {
        .footer-socials-icons, .footer-socials .footer-heading, .footer-categories {
            display: none;
        }

        .footer-logo span {
            display: flex;
        }

        .category-image {
            max-width: 350px;
        }
    }

    @media (max-width: 460px) {

        .footer-logo {
            flex-direction: column;
        }

        .k-menu-horizontal {
            flex-direction: column;
        }
    }



