.search-result {
    margin-top: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: -0.9px;
}

.splitter {
    border: 1px solid #E5E5E5;
    margin: auto;
    margin-bottom: 25px;
}

.summary-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 1500px;
}

.k-listview-content {
    overflow: hidden;
}

.k-group-title {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: -15px;
    font-size: 24px;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: -0.9px;
    color: #000000;
}

.sub-category-cards {
    display: flex;
    flex-direction: row;
}

.show-all {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
}

.k-listview-content {
    width: 1120px;
}
